/* Define las fuentes locales */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/nunito/Nunito-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/nunito/Nunito-Bold.ttf') format('truetype');
}

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';


html {
    height: 100%;
    margin: 0;

}

body {
    font-size: 1.2em;
    /* Adjust the size as needed */
    background-color: #eef0f2;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    margin: 0;
    height: 100%;
}

main {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container-fluid {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.card-body {
    overflow-y: auto;
    flex: 1;
}

.card-footer {
    background-color: #FFF !important;
    padding: 20px 0 !important;
    /* Aumentar padding inferior para iOS PWA */
    padding-bottom: max(20px, env(safe-area-inset-bottom)) !important;
    /* Respeta el safe area de iOS */
}

.full-height {
    height: 100%;
}

.form-control,
.form-select {
    font-size: 1.1rem !important;
    /* Adjust the size as needed */
}

form .btn i.bi {
    font-size: 2rem;
    vertical-align: middle;
}

form .btn {
    font-size: inherit !important
}

.navbar-brand {
    font-size: 1.2rem !important;
}

.logo-figure {
    width: 40px;
}

.fondo-rojo {
    background-color: #00276f !important;
    color: #FFFFFF !important;
}

.icoDescarga {
    background-color: #fff;
    padding: 0;
    font-size: 1.2em;
    margin: 0;
    float: right;
}

.fondo-negro {
    background-color: #000000 !important;
    color: #FFFFFF !important;
}

.color-rojo {
    color: #00276f !important;
}

.color-negro {
    color: #000000;
}

.borde-rojo {
    border-color: #00276f !important;
}

.form-check-input:checked {
    border-color: #00276f !important;
    background-color: #00276f !important;
}

.table-image {

    td,
    th {
        vertical-align: middle;
    }
}

.card-header {
    text-transform: uppercase;
}

.nav-link {
    text-transform: uppercase;
}

.form-group.required label:after {
    content: "*";
    color: red;
}

.custom-error-container {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
}

.custom-error-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

.custom-error-item {
    color: #721c24;
}

.custom-success-list {
    list-style: none;
    padding: 0;
}

.custom-success-item {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.dropdown-item {
    font-size: 1.2em !important
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active,
.dropdown-item.active {
    background-color: #00276f !important;
    color: #FFFFFF !important;
}

.circle {
    width: 45px;
    height: 45px;
    background-color: #00276f !important;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.2em !important
}

.form-select option[selected] {
    background-color: #00276f !important;
    /* Change this color to your desired background color */
    color: #FFF !important;
    /* Change this color to your desired text color */
}

.fondo-calendario {
    background-image: url('../images/fondo_calendario.png');
    display: block;
    clear: both;
    text-align: center;
    width: 70px;
    height: 70px;
    background-size: cover;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.form-check-inline {
    display: flex;
    align-items: center;
}

.form-check-label {
    margin-right: 10px;
}

.readonly {
    pointer-events: none;
    /* Desactiva la interacción del usuario */
    background-color: #e9ecef;
    /* Color de fondo */
    border-color: #ced4da;
    /* Color del borde */
}

.circulo-izquierda::before {
    content: "";
    /* Agrega el símbolo de check */
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 0 0 0 100px;
    background-color: blue;
    color: white;
    /* Color del check */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centra el check en el círculo */
    font-size: 15px;
    /* Tamaño del check */
}