// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

.logo-figure {
    width: 42px;
}
.fondo-rojo{
    background-color: #C23334;
    color:#FFFFFF;
}
.color-rojo{
    color: #C23334;
}
.borde-rojo{
    border-color: #C23334;
}
.table-image {
    td, th {
        vertical-align: middle;
    }
}
.card-header{
    text-transform: uppercase;
}
.nav-link{
    text-transform: uppercase;
}
.form-group.required label:after {
    content:"*";
    color:red;
}